<a href="https://colab.research.google.com/github/BrunoSlamek/Machine_Learning/blob/main/introduction_of_machine_learning_and_classification_pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import pandas as pd

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
data = pd.read_csv(uri)
data.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
# if we want to rename columns to portuguese. (not is the case now.)
# map = {
#     "home" : "principal"
#     "how_it_works" : "como_funciona"
#     "contact" : "contato"
#     "bought" : "comprou" 
# }
# data = data.rename(columns = map)

# x = data[["principal","como_funciona","contato"]]
# x.head()

In [4]:
x = data[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [5]:
y = data["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [6]:
data.shape

(99, 4)

# We use train_test_split library to split training and testing

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = SEED,
                                                    test_size = 0.25,
                                                    stratify = y)
print(f"Let's train with {len(train_x)} elements and test with {len(test_x)} elements")

model = LinearSVC()
model.fit(train_x, train_y)
predict = model.predict(test_x)

accuracy = accuracy_score(test_y, predict) * 100
print(f"The accuracy is {accuracy}%")

Let's train with 74 elements and test with 25 elements
The accuracy is 96.0%

In [8]:
train_y.value_counts()

0    49
1    25
Name: bought, dtype: int64

In [9]:
test_y.value_counts()

0    17
1     8
Name: bought, dtype: int64